.carousel-inner {
    width: 245px;
    height: 430px;
    position: absolute;
    top: 98px;
    left: 148px;
  }
  
  .carousel-inner .carousel-item img {
    width: 100%;
  }
  
  .container {
    margin-top: 100px;
  }
  
  .carousel {
    background-image: url("https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png");
    height: 600px;
    background-size: fit;
    background-repeat: no-repeat;
    position: relative;
  }
  